<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/StylesCss.css">
    <script defer src="../Static/Project's JS.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="gridContainer">

        <div class="grid-top">

            <a href="Sopping Cart.html">
                <img class="shoppingCart" src="../Project Pics/shopping Cart.svg" alt="shoppinCart" >
                </a>
                <center>

                
                <nav>

                    <ul class="moveToHeader">
                      
                        <a  href="Html Home Page.html">Home Page</a> &nbsp &nbsp &nbsp &nbsp 
                        <a  href="Cupcake Page.html">CupCake</a> &nbsp &nbsp &nbsp &nbsp 
                        <a  href="Birthday Cakes Page.html">BirthdayCakes</a> &nbsp &nbsp &nbsp &nbsp 
                        <a  href="Paistries Page.html">Paistries</a> &nbsp &nbsp &nbsp &nbsp 
                        <a  href="Sign In.html">Sign In</a> &nbsp &nbsp &nbsp &nbsp  
                        <a  href="sign up page.html">Sign Up</a>
                    </ul>
                       </nav>
        
                    </center>
       
            </div>

        <div id="grid-left"> 
                <img  class="LogoImg" src="../Project Pics/Logo.png" alt="LogoPic">
        </div>

        <div id="grid-main">
           <div id="signinmain">

          
            <center>
                <h1 id="MyHeader" class="SUpHeader">Welcome</h1> 
                  <h3 id="secondHeader"class="SUpHeader"> Please Sign Up </h3> <br><br>
            </center>
           
            <form id="SignUpForm" class="SignUpForm" action="" method="post">
                <fieldset class="fieldset"> 
                <label for="FName">First Name:</label>
                <input type="text" id="FName" name="FName" placeholder="Noa" required>
                <br><br>
                <label for="LName">First Name:</label>
                <input type="text" id="LName" name="LName" placeholder="Vakachi" required>
                <br><br>
                <label for="PhoneNum">Phone Number: </label>
                <input type="tel" id="PhoneNum" name="PhoneNum" required>
                <br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required minlength="8" maxlength="12"/>
                <br><br>
                <button type="submit" id="SignButton" class="SignButton">Submit</button>
            </fieldset>






            </form>
            <br>
            <a href="Sign In.html">
                <button  id="backBotton" class="backBotton">Back</button>
            </a>
            <br><br>
          
        </div> 
        </div>
    </div>
</body>
</html>


