<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/StylesCss.css">
    <script defer src="../Static/Project's JS.js"></script>
    <title>Home Page</title>
</head>
<body>
    <div id="gridContainer">

        <div class="grid-top">

            <a href="Sopping Cart.html">
            <img class="shoppingCart" src="../Project Pics/shopping Cart.svg" alt="shoppinCart" >
            </a>
      <center>

      
            <nav>

                <ul class="moveToHeader">
                  
                    <a  href="Html Home Page.html">Home Page</a> &nbsp &nbsp &nbsp &nbsp 
                    <a  href="Cupcake Page.html">Cupcake</a> &nbsp &nbsp &nbsp &nbsp 
                    <a  href="Birthday Cakes Page.html">BirthdayCakes</a> &nbsp &nbsp &nbsp &nbsp 
                    <a  href="Paistries Page.html">Paistries</a> &nbsp &nbsp &nbsp &nbsp 
                    <a  href="Sign In.html">Sign In</a> 
                </ul>
            
                   </nav>  
                </center>
        </div>

        <div id="grid-left"> 
                <img  class="LogoImg" src="../Project Pics/Logo.png" alt="LogoPic">
                <a href="Baker SignIn.html"> 
                   <h3 id="OwnerEntrance"> I'm The Baker</h3>
                </a>
        </div>

        <div id="grid-main">
            <h1 id="MyMainHeader">What Are You Looking For?</h1> <br><br><br>
            <div id="weekenedSale">
                <h2 contenteditable="true"> Weekend SALE! Weekend SALE!</h2>
                </div><br><br><br>


         
     
            <div class="HomePageGallery">
                <center>
                <div class="product-Box">
                     <img src="../Project Pics/HP B-cake.jpg" class="HPImg"><br>
                     <a class="linkHomePage" href="Birthday Cakes Page.html">BirthdayCakes</a>
                 </div>
 
                <div class="product-Box">
                <img src="../Project Pics/HP Cupcake.jpg" class="HPImg"><br>
                <a class="linkHomePage" href="Cupcake Page.html">Cupcakes</a>  
                </div>

                <div class="product-Box">
                <img src="../Project Pics/HP Paistry.jpg" class="HPImg"><br>
                <a class="linkHomePage" href="Paistries Page.html">Paistries</a>
                </div>
            </center>
            </div>
           
    
    </div>
</body>
</html>