<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Static/StylesCss.css">
        <script defer src="../Static/Project's JS.js"></script>
        <title>Paistries Page</title>
    </head>
    <body>
        <div id="gridContainer">
            <div class="grid-top">
                <a href="Sopping Cart.html">
                    <img class="shoppingCart" src="../Project Pics/shopping Cart.svg" alt="shoppinCart" >
                </a>
                <center>
                    <nav>
                        <ul class="moveToHeader">
                            <a  href="Html Home Page.html">Home Page</a> &nbsp &nbsp &nbsp &nbsp 
                            <a  href="Cupcake Page.html">Cupcake</a> &nbsp &nbsp &nbsp &nbsp 
                            <a  href="Birthday Cakes Page.html">BirthdayCakes</a> &nbsp &nbsp &nbsp &nbsp 
                            <a  href="Paistries Page.html">Paistries</a> &nbsp &nbsp &nbsp &nbsp 
                            <a  href="Sign In.html">Sign In</a> 
                        </ul>
                    </nav>      
                </center>
            </div>

        <div id="grid-left"> 
            <img  class="LogoImg" src="../Project Pics/Logo.png" alt="LogoPic">
            </div>

            <div id="grid-main"> 
                <h1 id="MyHeader">Paistries Gallery</h1>
                <div class="CakesGallery" id="blur">
                    <div class="product-Box">
                        <img src="../Project Pics/paistries1.jpg" class="sweetsImg">
                        <h3 class="picDesc">Paistry1</h3>
                        <span class="Price">Price Per Unit:$50</span><br>
                        <span class="Price">Units To Add</span>
                        <input type="number" value="1" class="CartQTY"><br><br>
                        <a class="approve" href="#" onclick="toggle()">Add To Cart</a>
                    </div>

                <div class="product-Box">
                    <img src="../Project Pics/paistries2.jpg"class="sweetsImg">
                    <h3 class="picDesc">Paistry2</h3>
                    <span class="Price">Price Per Unit:$50</span><br>
                    <span class="Price">Units To Add</span>
                    <input type="number" value="1" class="CartQTY"><br><br>
                    <a class="approve" href="#" onclick="toggle()">Add To Cart</a>         
                </div>

                <div class="product-Box">
                    <img src="../Project Pics/paistries3.jpg"class="sweetsImg">
                    <h3 class="picDesc">Paistry3</h3>
                    <span class="Price">Price Per Unit:$50</span><br>
                    <span class="Price">Units To Add</span>
                    <input type="number" value="1" class="CartQTY"><br><br>
                    <a class="approve" href="#" onclick="toggle()">Add To Cart</a>
                </div>

                <div class="product-Box">
                    <img src="../Project Pics/paistries4.jpg"class="sweetsImg">
                    <h3 class="picDesc">Paistry4</h3>
                    <span class="Price">Price Per Unit:$50</span><br>
                    <span class="Price">Units To Add</span>
                    <input type="number" value="1" class="CartQTY"><br><br>
                    <a class="approve" href="#" onclick="toggle()">Add To Cart</a>
                </div>

                <div class="product-Box">
                    <img src="../Project Pics/paistries5.jpg"class="sweetsImg">
                    <h3 class="picDesc">Paistry5</h3>
                    <span class="Price">Price Per Unit:$50</span><br>
                    <span class="Price">Units To Add</span>
                    <input type="number" value="1" class="CartQTY"><br><br>
                    <a class="approve" href="#" onclick="toggle()">Add To Cart</a>
                </div>

                <div class="product-Box">
                   <img src="../Project Pics/paistries6.jpg"class="sweetsImg">
                   <h3 class="picDesc">Paistry6</h3>
                   <span class="Price">Price Per Unit:$50</span><br>
                   <span class="Price">Units To Add</span>
                   <input type="number" value="1" class="CartQTY"><br><br>
                   <a class="approve" href="#" onclick="toggle()">Add To Cart</a>
                </div>  
            </div>

            <div id="PopUp" id="blur"><br>
                <h3 id="msgAPProved"> The Item was added</h3>
                <a id="clickAproval" href="#" onclick="toggle()">Ok</a><br><br>
            </div>
        </div> 
    </div>
</body>
</html>